<div class="main">
  <div class="header">
    <div class="site-logo"><a href="/"><img height="120" alt="Sass" src="/assets/signup_queues/logo.png"></a></div>
    <h2>The Future is Now.</h2>
    <h3>This Website is Live Soon!</h3>
  </div>

  <%= form_for @signup_queue, html: {class: "form-inline", id: "signup-form"} do |f| %>
    <input name="ref" type="hidden" value="<%= params[:ref] %>" />
    <div class="form-group">
      <%= f.email_field :email, class: "signup-field", id: "signup-email", placeholder: "email address" %>
      <%= f.submit "Be The First" %>
      <p class="validation-error" id="email-error">Please enter the email first</p>
    </div>
  <% end %>

</div>